.header{ background-color: lightskyblue;
    width: 100%;
    padding: 25px;
    font-family: monospace;
    text-align: center;
    height: 5%;
    font-size: 40px;
    font-weight: bold;
}
  
.hide {
    display: none;
}

.show {
    display: block;
}